@import url("https://fonts.googleapis.com/css2?family=Spinnaker:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Spinnaker", sans-serif;
  background-color: #f5f5f5;
  color: rgb(4, 3, 3);
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  margin: auto;
  width: 12rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./assets/VanLife.jpg);
  width: 100vw;
  height: 12rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f5f5f5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #CB6A25;
  color: #f5f5f5;
  cursor: pointer;
}
